{% extends 'base.html' %}
{% block content%}
<div class="container"
    style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDhdaEKh583H4luCKeupmmX6fQNJtVUycR8g&usqp=CAU'); background-repeat: no-repeat; background-size: cover; width: 80%">
    <h2 style="color: rgb(186, 179, 214); text-align:center">Top Articles</h2>
    {% for article_row in articles | batch(4)%}
    <div class="row">
        {% for article in article_row%}
        <div class="col-md-3">
            <div class="thumbnail" style="background-color: transparent; text-align:center">
                <a href="{{article.url}}" target="_blank"><img src="{{article.image}}" alt="{{article.title}}"
                        class="img-responsive" style="height: 150px"></a>
                <div class="caption" style="color: blanchedalmond">
                    <h4><a href="{{article.url}}" target="_blank"
                            style="color: whitesmoke">{{article.title | truncate(35)}}</a></h4>
                    <p>{{article.decription | truncate(80)}}</p>
                    <a href="{{article.url}}" target="_blank"><strong>Read More</strong></a>
                </div>
                <div class="footer" style="color: blanchedalmond">
                    Published at:{{article.date}}

                </div>

            </div>
        </div>
        {%endfor%}
    </div>
    {%endfor%}

</div>

{% endblock%}